body{
    background: #000;
    h1{
        color: aliceblue;
    }

    div{

        background: blue;

        span{

            background: red;
    
            p{
                color: aqua;
            }
    
            a{
                color: yellow;
            }
        }
    }
    
}